:root {
    --black: #000807;
    --papayawhip: #FFF1D0;
    --cornflowerblue: #6495ED;
    --rojo: #DD1C1A;
    --jonquil: #F0C808;
    --purpureus: #A14DA0;
    --battleshipgray: #86836D;
    --violet: #E086D3;
    --hookersgreen: #397367;
    --cambridgeblue: #92BFB1;
    --egyptianblue: #29339B;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--papayawhip);
    overflow: hidden;
    cursor: default;
}

/* my name in cursive */
#title-holder {
    z-index: 10;
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
}

#title {
    font-family: 'Dr Sugiyama', cursive;
    color: var(--black);
    font-size: 20vw;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* the dimensions for the 9 box panels */
.window {
    height: 86%;
    position: absolute;
    aspect-ratio: 1/1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

/* skinny browser window on desktop, shift to measure grid size by width to keep fit in screen */
@media screen and (max-width: 650px) {
    .window {
        width: 88%;
        height: unset;
    }
}

/* 2 sets of panels - front to hover and back to display */
#windowBack {
    z-index: -10;
}

#windowFront {
    z-index: 20;
}

/* row of 3 boxes */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-basis: 33%;
}

/* a single of the 9 boxes */
.container {
    flex-basis: 33%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    background-color: transparent;
    color: var(--black);
    border: 5px solid var(--black);
    text-align: center;
    justify-content: center;
    align-items: center; 
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
    font-size: 1;
}

/* various colors of each container upon hover */
#c0 {background-color: var(--cornflowerblue); color: var(--papayawhip);}
#c1 {background-color: var(--jonquil); color: var(--papayawhip);}
#c2 {background-color: var(--purpureus); color: var(--papayawhip);}
#c3 {background-color: var(--cambridgeblue); color: var(--papayawhip);}
#c4 {background-color: var(--egyptianblue); color: var(--papayawhip);}
#c5 {background-color: var(--battleshipgray); color: var(--papayawhip);}
#c6 {background-color: var(--violet); color: var(--papayawhip);}
#c7 {background-color: var(--rojo); color: var(--papayawhip);}
#c8 {background-color: var(--hookersgreen); color: var(--papayawhip);}